Babel==2.6.0
Django==2.2.10
django-ckeditor==5.6.1
django-crispy-forms==1.7.2
django-js-asset==1.2.2
django-phonenumber-field==2.2.0
phonenumberslite==8.10.6
psycopg2==2.8.2
pytz==2018.9
virtualenv==16.4.3
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
